@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

.topnav {
  padding: 0px 3%;
  color: maroon;
  background-color: azure;
  overflow: hidden;
  position: relative;
  font-weight: bold;
}
.topnav a {
  color: maroon;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

.navbar {
  font-weight: bold;
}

.search {
  width: 70%;
  display: flex;
  padding-top: 30px;
  text-align: center;
  margin: auto;
}

.searchTerm {
  width: 100%;
  border: 1px solid lightgrey;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchButton {
  width: 40px;
  height: 30px;
  border: 1px solid lightgrey;
  background: lightslategray;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

h4 {
  color: maroon;
  padding-top: 10px;
}

.intro-msg {
  border-style: dashed;
  border-width: fit-content;
}

input[type='checkbox'] {
  width: 20px;
}

label {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  text-indent: 5px;
}

.List {
  display: inline-block;
}

.check-input-container {
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 10px;
  color: maroon;
  font-weight: bold;
}

.aboutStyle {
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 80px;
  border-bottom: 2px solid maroon;
}

.aboutMsgStyle {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 30px;
  font-size: 1.2em;
}

.email {
  display: block;
  margin: auto;
  font-size: 1.2em;
  text-decoration: underline;
}

.List {
  display: block;
  margin-right: 11px;
  position: relative;
}

.DisplayBox {
  display: block;
  padding: 16px 16px;
  margin-right: 11px;
  position: relative;
}
.searchBar {
  padding: 10px;
}

.mainPage {
  background-image: url('web_background.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.outer {
  border: 2px solid maroon;
  padding: 16px 16px;
  border-style: solid;
  display: block;
  width: auto;
  height: auto;
}

.outer > div {
  border: 1px solid green;
}

.text-center {
  width: auto;
}

.right {
  float: right;
  height: 60%;
  background: cyan;
}

.border {
  background-color: #f6ad55;
}
