/* Google Front */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

/* --- Top Navigation Bar and buttons Style --- */
/*     --- It will contain in all page ---      */
/* Navigation bar at the top of the page style */
.topnav {
  padding: 0px 3%;
  color: maroon;
  background-color: azure;
  overflow: hidden;
  position: relative;
  font-weight: bold;
}

/* Each Button in the navigation bar style */
.topnav a {
  color: maroon;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

/* Welcome message and instructions style */
.intro-msg {
  border-style: dashed;
  border-width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* --- Main Page element Style --- */
/* Main Page Container Style */
.mainPage {
  background-image: url('bg-img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Category style */
h4 {
  color: maroon;
  padding-top: 10px;
}

/* Make some space between checkbox and the text */
input[type='checkbox'] {
  width: 20px;
}

/* Make checkbox and test alignment and style */
label {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  text-indent: 5px;
}

/* Search Block style */
.search {
  width: 70%;
  display: flex;
  padding-top: 30px;
  text-align: center;
  margin: auto;
}

/* search text box style */
.searchTerm {
  width: 100%;
  border: 1px solid lightgrey;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

/* search bar icon button */
.searchButton {
  width: 40px;
  height: 30px;
  border: 1px solid lightgrey;
  background: lightslategray;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* User Input Container Style */
.check-input-container {
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 10px;
  color: maroon;
  font-weight: bold;
}

/* To differentiate user selected from list or manually enter */
.List {
  display: inline-block;
}

/* User selected ingredients sytle: alignment, indent */
.List for {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  text-indent: 5px;
}

/* User selected ingredients box style */
.outer {
  border: 2px solid maroon;
  padding: 16px 16px;
  border-style: solid;
  display: block;
  width: auto;
  height: auto;
}

/* --- About Page Style --- */
/* About Page Title Style */
.aboutStyle {
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 80px;
  border-bottom: 2px solid maroon;
}

/* About Page contents Style */
.aboutMsgStyle {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 30px;
  font-size: 1.2em;
}

/* About Page email Style: underline */
.email {
  display: block;
  margin: auto;
  font-size: 1.2em;
  text-decoration: underline;
}

/* --- Result Page & Liked Page Style --- */
/* result and liked page title box style */
.resultTitle {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: darkblue;
  border-style: groove;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
  border: 1px solid lightgrey;
}

/* --- Result Page Style */
/* Result from API style  */
div.apiResultBlock {
  margin: auto;
  display: table-cell;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

/* Each result block Style */
span.DisplayBox {
  display: block;
  padding: 16px 16px;
  margin-right: 11px;
  position: relative;
}
